.App {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: stretch;
  flex-direction: column;
  background-color: #2A3055;
  /* background-color: #2A3055; */
}

.demo-header{
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #A7BEF2; */
  background-color: #A7BEF2;
  border-bottom: 3px solid white;
}

.demo-header h1{
  font-size: 45px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  letter-spacing: 1.5px;

}

.omniscript-container{
  margin: 140px 200px;
}
